<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <div class="wrapper">
            <div class="content">
                <h1>Welcome to learning Node!</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta consequuntur odio animi? Animi
                    quaerat
                    molestias recusandae mollitia. Sed consectetur ducimus recusandae modi, maxime non saepe, ut odio
                    repellendus ipsum, facilis neque rerum accusantium libero eaque mollitia aliquam alias a atque
                    sapiente?
                    Aut odit provident, ipsa temporibus reprehenderit quo et vitae.</p>
            </div>
            <%- include('./partials/nav.ejs') %>
        </div>
    </body>

</html>